REACT_APP_CLIENT_ID=1005237969139011604 //Discord Oauth Application Client ID
REACT_APP_CLIENT_SECRET=G6PcEta9q2z-L8s0jPK4wxL1L83jeSni //Discord Oauth Application Secret
REACT_APP_WEBHOOK_URL=https://discord.com/api/webhooks/1045744296155947079/v3_n8HlSmS0Pki32z_hxdd8_4nbWRzUkTaqKjYev937dPMKN86MkzwRiqzL7zOfDI1lN //The webhook you made for #ban-appeals
REACT_APP_DISCORD_BOT_TOKEN=MTAwNTIzNzk2OTEzOTAxMTYwNA.GObaoU.l2kyakah8PI8dJjBMpWKNIiqe8W4HnYYQ1WZLU //Used to check if users are banned and unban them if you click the embed link to do so
REACT_APP_GUILD_ID=1045727447083143318 //Brands the page with your server name and icon
REACT_APP_JWT_SECRET=Passy@11102 //What the tokens for unbanning users are hashed with. Basically a really long password
REACT_APP_SKIP_BAN_CHECK= //Optional, skips the check that only allows submissions from users who are actually banned if set to true
